body {
    padding: 0;
    margin: 0;
    background: white;
    width: 100%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    z-index: 1;
    height: 86px;
    display: flex;
    justify-content: space-between;
    padding: 42px 28px;
    align-items: center;
    color: #fff;
    width: 95%;
    text-align: justify;
}

.navbar{
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.logo {
    width: 113px;
    height: 30px;
}

.item {
    margin-left: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.item:hover {
    color: blue;
}

.tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.tab:hover {
    color: blue;
}

.search-input {
    margin-left: 50px;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    width: 264px;
    height: 20px;
    padding: 8px;
}

.search-input::placeholder {
    color: white;
}

.search-icon {
    padding: 8px;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    margin-left: -40px;
}

.icons-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 16px;

}

.background-image {
    position: relative;
}

.back.png {
    display: block;
}

.back-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.colored-square1 {
    width: 232px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 70px;
    left: 150px;
    color: white;
    font-family: "Cabinet Grotesk", sans-serif;
}

.rounded-button {
    width: 100%;
    height: 49px;
    background-color: yellow;
    color: blue;
    border: none;
    border-radius: 20px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 65px;
    padding: 15px;
}

.rounded-button:hover {
    background-color: yellowgreen;
}
.navbar1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #010B3180;
}

.content {
    margin-top: 50px;
    padding: 10px;
}

.divider {
    color: #010B3180;
    margin: 0 50px;
}
.two-square{
    display: flex;
    gap: 30px;
}
.colored-square2{
    position: relative;
    background-color: #EEF3F4;
    top: 70px;
    width: 493px;
    height: 561px;
    left: 50px;
    display: flex;
    font-size: 24px;
    border: none;
    border-radius: 27px;
    justify-content: center;
    place-items: center;
}
.little-square{
    position: absolute;
    width: 285px;
    height: 285px;
    background-color: #D9D9D9;
}
.text-square{
    position: absolute;
    top: 30px;
    left: 30px;
}
.rounded-button1 {
    position: absolute;
    width: 350px;
    height: 60px;
    display: block;
    bottom: 30px;
    word-spacing: 150px;
    border: 2px solid transparent;
}
.top-right {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 34px;
    font-weight: bold;
}
.text-under{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-left-bord{
    position: relative;
    top: 166px;
    left: 47px;
    font-size: 60px;
    color: #010B31;
    font-weight: 800;
}
.text-right-bord{
    position: relative;
    top: 166px;
    right: 47px;
    font-size: 20px;
    color: #010B3180;
}
.gray-square{
    position: relative;
    background-color: #EEF3F4;
    top: 230px;
    left: 40px;
    width: 670px;
    height: 528px;
    display: flex;
    font-size: 24px;
    border: none;
    border-radius: 27px;
}
.text-gray-square{
    position: relative;
    top: 5px;
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 100px;
    left: 37px;
    color:#010B3180;
}
.text-gray-square1{
    position: relative;
    top: 75px;
    left: 7px;
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 60px;
    font-weight: 750;
    color:#010B31;
}
.invisible-square{
    position: absolute;
    width: 397px;
    height: 93px;
    bottom: 49px;
    left: 50px;
    box-sizing: border-box;
}
.invisible-square1{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 50px;
    bottom: 60px;
}
.left-part{
    color: #010B3180;
    font-size: 26px;
}
.right-part{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-two-square{
    display: flex;
    gap: 30px;
}
.content-color-two-square{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.blue-square{
    position: relative;
    background-color: #315AFF;
    top: 230px;
    left: 40px;
    width: 670px;
    height: 528px;
    display: flex;
    font-size: 24px;
    border: none;
    border-radius: 27px;
}
.text-blue-square{
    position: relative;
    top: 5px;
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 100px;
    left: 37px;
    color:#FFFFFF;
}
.text-blue-square1{
    position: relative;
    top: 75px;
    left: 7px;
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 60px;
    font-weight: 750;
    color:#FFFFFF;
}
.left-blue-part{
    color: #FFFFFF;
    font-size: 26px;
}
.right-blue-part{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.big-gray-square{
    position: relative;
    width: 100%;
    height: 906px;
    background-color:  #EDF2F3;
    top: 350px;
}
.product{
    margin-top: 70px;
    margin-bottom: 70px;
}