body {
    padding: 0;
    margin: 0;
    background: rgb(128, 128, 128);
}

.header {
    height: 86px;
    display: flex;
    padding: 42px 28px;
    align-items: center;
    color: #fff;
}

.logo {
    width: 113px;
    height: 30px;
}

.item {
    cursor: pointer;
    margin-left: 61px;
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.item:hover {
    color: blue;
}

.search {
    margin-left: 50px;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    width: 353px;
    height: 20px;
}

.search::placeholder {
    color: white;
}

.search-icon {
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
}
