body {
    padding: 0;
    margin: 0;
    background: white;
    width: 100%;
    overflow-x: hidden;

}

.header {
    position: fixed;
    z-index: 1;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    text-align: justify;
}

.navbar {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 27px 40px;
}

.logo {
    width: 113px;
    height: 30px;
}

.item {
    margin-left: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "CabinetGrotesk-Extrabold", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.item:hover {
    color: blue;
}

.tab {
    font-family: "CabinetGrotesk-Medium", sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.tab:hover {
    color: blue;
}

.search-input {
    margin-left: 50px;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    width: 264px;
    height: 20px;
    padding: 8px;
}

.search-input::placeholder {
    color: white;
}

.search-icon {
    padding: 8px;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    margin-left: -40px;
}

.icons-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 16px;

}

.background-image {
    position: relative;
}

.back.png {
    display: block;
}

.back-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.colored-square1 {
    width: 232px;
    height: 300px;
    position: absolute;
    bottom: 40px;
    left: 170px;
    color: white;
}
.big-text-square {
    font-family: anton, sans-serif;
    font-size: 31px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
}
.little-text-square{
    font-family: "CabinetGrotesk-Regular", sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 25px;
    height: 51px;
    width: 214px;
}

.rounded-button {
    width: 100%;
    height: 49px;
    background-color: yellow;
    color: blue;
    border: none;
    border-radius: 20px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 65px;
    padding: 15px;
}

.rounded-button:hover {
    background-color: yellowgreen;
}

.navbar1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #010B3180;
}

.content {
    padding: 10px;
}

.divider {
    color: #010B3180;
    margin: 0 50px;
}

.two-square {
    padding: 36px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.colored-square2 {
    padding: 25px;
    background-color: #EEF3F4;
    width: 468px;
    height: 536px;
    font-size: 24px;
    border: none;
    border-radius: 27px;
}
.colored-square2-1 {
    padding: 25px;
    background-color: #EEF3F4;
    width: 468px;
    height: 536px;
    font-size: 24px;
    border: none;
    border-radius: 27px;
}
.colored-square2-2 {
    padding: 25px;
    background-color: #EEF3F4;
    width: 468px;
    height: 536px;
    font-size: 24px;
    border: none;
    border-radius: 27px;
    flex-wrap: nowrap;
}
.head-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-square{
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 26px;
}
.text-square1{
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 16px;
    color: #010B3180;
}

.little-square {
    width: 285px;
    height: 285px;
    margin: 53px auto;
    background-color: #D9D9D9;
}
.rounded-button1 {
    width: 423px;
    height: 57px;
    display: flex;
    margin: 0 auto;
    border: 2px solid transparent;
}
.textbutton{
    display: flex;
    margin-top: 13px;
    bottom: 13px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 26px;
}
.arrowbutton1{
    position: relative;
    width: 52px;
    height: 57px;
    left: 190px;
}

.top-right {
    font-size: 34px;
    font-weight: bold;
    font-family: 'CabinetGrotesk-Bold', sans-serif;
}

.text-under {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-left-bord {
    position: relative;
    top: 80px;
    left: 47px;
    font-size: 60px;
    color: #010B31;
    font-weight: 800;
}

.text-right-bord {
    position: relative;
    top: 100px;
    right: 47px;
    font-size: 20px;
    color: #010B3180;
}

.gray-square {
    position: relative;
    background-color: #EEF3F4;
    top: 150px;
    left: 40px;
    width: 670px;
    height: 528px;
    display: flex;
    font-size: 24px;
    border: none;
    border-radius: 27px;
}

.text-gray-square {
    position: relative;
    top: 5px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 26px;
    line-height: 100px;
    left: 37px;
    color: #010B3180;
}

.text-gray-square1 {
    position: relative;
    top: 25px;
    left: 7px;
    font-family: 'CabinetGrotesk-Extrabold', sans-serif;
    font-size: 47px;
    color: #010B31;
}

.invisible-square {
    position: absolute;
    width: 397px;
    height: 93px;
    bottom: 49px;
    left: 50px;
    box-sizing: border-box;
}

.invisible-square1 {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 50px;
    bottom: 60px;
}

.left-part {
    color: #010B3180;
    font-size: 26px;
}

.right-part {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-two-square {
    display: flex;
    gap: 30px;
}

.content-color-two-square {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.blue-square {
    position: relative;
    background-color: #315AFF;
    top: 150px;
    left: 40px;
    width: 670px;
    height: 528px;
    display: flex;
    font-size: 24px;
    border: none;
    border-radius: 27px;
}

.text-blue-square {
    position: relative;
    top: 5px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 26px;
    line-height: 100px;
    left: 37px;
    color: #FFFFFF;
}

.text-blue-square1 {
    position: relative;
    top: 25px;
    left: 7px;
    font-family: 'CabinetGrotesk-Extrabold', sans-serif;
    font-size: 47px;
    color: #FFFFFF;
}

.left-blue-part {
    color: #FFFFFF;
    font-size: 26px;
}

.right-blue-part {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.big-gray-square {
    position: relative;
    width: 1540px;
    height: 990px;
    background-color: #EDF2F3;
    top: 350px;
}

.product {
    position: relative;
    margin-top: 40px;
    object-fit: cover;
    width: 1519px;
    display: flex;
}

.text-up {
    position: relative;
    color: #315AFF;
    font-size: 26px;
    front-family: 'CabinetGrotesk-Medium', sans-serif;
    top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-square {
    position: absolute;
    width: 474px;
    height: 589px;
    background-color: #D9D9D9;
    top: 190px;
    left: 750px;
    border-radius: 24px;
    border: 10px solid #EDF2F3;
}

.product-item {
    position: absolute;
    width: 443px;
    height: 227px;
    top: 235px;
    left: 125px;
    flex-direction: column;
    display: flex;
}

.texttop-productitem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'CabinetGrotesk-Extrabold', sans-serif;
    font-size: 60px;
}

.textdown-productitem {
    flex: 1;
    display: flex;
    font-family: 'CabinetGrotesk-Regular', sans-serif;
    font-size: 16px;
    color: #010B3180;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 20px 0 0;
}

.scroll-item {
    width: 443px;
    height: 52px;
    position: absolute;
    bottom: 360px;
    left: 125px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.left-item {
    display: flex;
    gap: 12px;
    position: relative;
    align-items: center;
}

.progress-item {
    position: relative;
    width: 6px;
    height: 16px;
    border-radius: 100px;
    background-color: #010E3A33;
    transition: width 0.3s, background-color 0.3s;

}

.right-item {
    display: flex;
    gap: 15px;
}

.arrow-button {
    display: flex;
    border-radius: 1000px;
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    border: 2px solid #010B3180;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.arrow-button:active {
    transform: scale(0.9);
    background-color: #315AFF;

}

.progress-item.active {
    width: 6px;
    height: 34px;
    border-radius: 100px;
    background-color: #315AFF;
}

.brand-block {
    width: 1360px;
    height: 658px;
    position: relative;
    display: flex;
    top: 500px;
    left: 40px;
    flex-direction: column;
    padding: 40px;
}

.name-block {
    display: flex;
    font-family: 'CabinetGrotesk-Bold', sans-serif;
    font-size: 60px;
    color: #010B31;
    margin-bottom: 40px;
}

.brand4square {
    display: flex;
    position: relative;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.brand-square {
    width: 317px;
    height: 235px;
    background-color: #EEF3F4;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.brand3square {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 30px;
    top: 260px;
    justify-content: space-between;
}

.brand-square1 {
    width: 433px;
    height: 235px;
    background-color: #EEF3F4;
    display: flex;
    top: 150px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.brand-square:nth-child(4) {
    background-color: #315AFF;
}

.product-categories {
    position: relative;
    width: 1440px;
    height: 701px;
    background-color: #EEF3F4;
    top: 590px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.leftbutton {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #315AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rightbutton {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #315AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gray-square-shadow{
    display: flex;
    padding-top: 106px;
    margin-left: 224px;
    height: 550px;
    width: 420px;
    flex-direction: column;
    gap: 29px
}
.gray-item-square {
    display: flex;
    width: 221px;
    height: 471px;
    background-color: #D9D9D9;
}

.shadow-square {
    display: flex;
    width: 197px;
    height: 41px;
    background-color: #b4b4b4;
    filter: blur(25px);
    top: 50px;
}

.item-look-square {
    position: relative;
    display: flex;
    width: 668px;
    height: 570px;
    background-color: #FDFDFD;
    bottom: 600px;
    left: 633px;
    border-radius: 24px;

}

.text-item {
    width: 620px;
    height: 36px;
    position: relative;
    left: 24px;
    font-family: 'CabinetGrotesk-Extrabold', sans-serif;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    white-space: nowrap;
}

.item-look {
    position: relative;
    width: 620px;
    height: 124px;
    right: 245px;
    top: 94px;
    white-space: nowrap;
}

.itemsquare {
    width: 113px;
    height: 113px;
    top: 6px;
    position: relative;
    left: 5px;
    background-color: #D9D9D9;
}

.textitem {
    position: relative;
    left: 159px;
    bottom: 110px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 24px;
    line-height: 28px;
}
.textitem2 {
    position: relative;
    left: 85px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 24px;
    line-height: 28px;
}
.textitem3 {
    position: relative;
    left: 159px;
    bottom: 75px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.text-item-price {
    position: relative;
    left: 550px;
    bottom: 135px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 24px;
    line-height: 28px;
}
.text-item-price1 {
    position: relative;
    left: 354px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 24px;
    line-height: 28px;
}
.text-item-price2 {
    position: relative;
    left: 552px;
    bottom: 95px;
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 24px;
    line-height: 28px;
}
.threeballs {
    position: relative;
    display: flex;
    width: 97px;
    height: 27px;
    gap: 6px;
    align-items: center;
    bottom: 125px;
    left: 159px;
}
.threeballs1{
    position: relative;
    display: flex;
    width: 97px;
    height: 27px;
    gap: 6px;
    align-items: center;
    top: 40px;
    right: 89px;
}
.threeballs2{
    position: relative;
    display: flex;
    width: 97px;
    height: 27px;
    gap: 6px;
    align-items: center;
    left: 159px;
    bottom: 95px;
}

.balls {
    width: 27.71px;
    height: 27.71px;
    border-radius: 100%;
    background-color: #4D7EF4;
}

.balls1 {
    width: 27.71px;
    height: 27.71px;
    border-radius: 100%;
    background-color: #FFB546;
}

.balls2 {
    width: 27.71px;
    height: 27.71px;
    border-radius: 100%;
    background-color: #FFCDE8;
}

.lines {
    width: 551px;
    border: 1px solid #EDF2F3;
    position: relative;
    bottom: 45px;
    right: 150px;
    transform: rotate(90deg);
}

.item-look1 {
    position: relative;
    width: 620px;
    height: 124px;
    right: 457px;
    top: 270px;
    white-space: nowrap;
    display: flex;
}

.itemsquare1 {
    width: 72px;
    height: 73px;
    top: 24px;
    position: relative;
    left: 25px;
    background-color: #D9D9D9;
    right: 23px;
}

.lines1 {
    width: 551px;
    border: 1px solid #EDF2F3;
    position: relative;
    top: 120px;
    right: 495px;
    transform: rotate(90deg);
}

.itemsquare2 {
    width: 97px;
    height: 70px;
    top: 24px;
    position: relative;
    left: 15px;
    bottom: 27px;
    background-color: #D9D9D9;
}

.item-look2 {
    position: relative;
    width: 620px;
    height: 124px;
    right: 805px;
    top: 425px;
    white-space: nowrap;
}

.balls3 {
    width: 27.71px;
    height: 27.71px;
    border-radius: 100%;
    background-color: #FEBAE5;
}

.balls14 {
    width: 27.71px;
    height: 27.71px;
    border-radius: 100%;
    background-color: #EF6DF8;
}
.backgroundfooter svg {
    width: 100%;
    height: 100%;
}
.backgroundfooter{
    /*overflow: hidden;*/
    /*position: relative;*/
}

.first-column {
    position: relative;
    width: 184px;
    height: 227px;
    top: 765px;
    left: 44px;
}

.column {
    margin-bottom: 30px;
    width: 133px;
    height: 42px;
}

.textinthecolumn {
    display: grid;
    gap: 20px;
}

.textfirstcolumn1 {
    font-family: 'CabinetGrotesk-Medium', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

.bigtextcolumn {
    font-family: anton, sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
}

.second-column {
    position: relative;
    width: 229px;
    height: 224px;
    top: 533px;
    left: 325px;
}

.third-column {
    position: relative;
    width: 484px;
    height: 228px;
    top: 306px;
    left: 964px;
}

.bigtextcolumn1 {
    font-family: anton, sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
}
.secondtextcolum{
    font-family: anton, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    margin-top: 90px;
}
.arrowcolum{
    position: relative;
    display: flex;
    margin-left: 400px;
    bottom: 38px;
    width: 40px;
    height: 40px;
    left: 70px;
}
@media screen and (max-width: 1374px) {
    .navbar {
        gap: 20px;
        padding: 15px 20px;
    }
    .item {
        margin-left: 20px;
    }

    .icons-container {
        margin-left: 15px;
    }

    .search-input {
        margin-left: 20px;
        width: 240px;
    }
    .invisible-square{
        width: 350px;
    }
    .backgroundfooter svg{
        width: 1447px;
    }
    .first-column{
        top: 746px;
        left: 41px;
    }
    .second-column{
        top: 511px;
        left: 308px;
    }
    .third-column{
        top: 285px;
        left: 944px;
    }
    .arrowcolum{
        left: 35px;
    }
    .colored-square1{
        left: 140px;
    }
    .gray-square {
        left: 5px;
    }
    .blue-square {
        left: 5px;
    }
    .product {
        width: 100%;
    }
    .big-gray-square {
        width: 100%;
        height: 905px;
    }
    .product-square {
        width: 411px;
        height: 509px;
        top: 196px;
        left: 673px;
    }
    .brand-block {
        left: 20px;
        padding: 1px;
    }
    .brand4square {
        gap: 20px;
         justify-content: normal;
    }
    .brand3square {
        gap: 14px;
        justify-content: normal;
    }
    .product-categories {
        width: 100%;
    }
    .gray-square-shadow {
        margin-left: 140px;
    }
    .item-look-square {
        left: 510px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar {
        gap: 10px;
        padding: 7px 10px;
    }

    .item {
        margin-left: 10px;
    }

    .icons-container {
        margin-left: 7px;
    }

    .search-input {
        margin-left: 10px;
        width: 160px;
    }
    .rounded-button {
        margin-top: 25px;
    }
    .colored-square1 {
        height: 190px;
        left: 100px;
        bottom: 75px;
    }
    .text-right-bord{
        right: 10px;
    }
    .invisible-square{
        width: 300px;
    }
    .text-gray-square1{
        font-size: 35px;
    }
    .text-blue-square1 {
        font-size: 35px;
    }
    .big-gray-square {
        position: relative;
        width: 100%;
        height: 705px;
    }
    .product-item {
        top: 195px;
        left: 61px;
        width: 295px;
        height: 210px;
    }
    .texttop-productitem {
        font-size: 35px;
    }
    .textdown-productitem {
        font-size: 14px;
    }
    .scroll-item {
        bottom: 210px;
        left: 60px;
        width: 280px;
    }
    .product {
        width: 100%;
    }
    .product-square {
        width: 300px;
        height: 400px;
        top: 133px;
        left: 519px;
    }
    .name-block {
        font-size: 35px;
    }
    .divider {
        margin: 0 25px;
    }
    .colored-square2-2{
        display: none;
    }
    .left-part {
        font-size: 19px;
    }
    .invisible-square {
        width: 250px;
    }
    .left-blue-part {
        font-size: 19px;
    }
    .text-right-bord {
        right: 10px;
    }
    .text-left-bord {
        left: 5px;
    }
    .brand-square {
        width: 235px;
        height: 155px;
    }
    .brand-square1 {
        width: 325px;
        height: 185px;
        top: 0;
    }
    .brand-block {
        width: 1024px;
        height: 475px;
    }
    .gray-square-shadow {
        margin-left: 95px;
    }
    .leftbutton {
        left: 10px;
    }
    .gray-square-shadow {
        margin-left: 50px;
    }
    .item-look-square {
        left: 340px;
        width: 550px;
    }
    .text-item-price {
        left: 445px;
    }
    .text-item-price1 {
        left: 245px;
    }
    .text-item-price2 {
        left: 444px;
    }
    .rightbutton {
        right: 90px;
    }
}
@media screen and  (max-width: 820px){
    .colored-square1 {
        height: 190px;
        left: 60px;
        bottom: 30px;
    }
    .divider {
        display: none;
    }
    .invisible-square {
        width: 190px;
    }
}
@media screen and  (max-width: 768px){
    .product-square {
        width: 228px;
        height: 304px;
        top: 121px;
        left: 381px;
    }
    .big-gray-square {
        height: 565px;
        top: 275px;
    }
    .product-item {
        top: 135px;
        left: 45px;
    }
    .scroll-item {
        bottom: 145px;
        left: 45px;
        width: 250px;
    }
    .brand-square {
        width: 172px;
        height: 125px;
    }
    .brand-block {
        width: 768px;
        height: 425px;
        top: 390px;
    }
    .brand-square1 {
        width: 240px;
        height: 155px;
    }
    .item-look-square {
        left: 290px;
        width: 340px;
    }
    .text-item-price {
        display: none;
    }
    .text-item-price1 {
        display: none;
    }
    .text-item-price2 {
        display: none;
    }

}
@media screen and  (max-width: 789px){
    .icons-container {
        margin-left: 0;
        gap: 0;
    }
    .search-input {
        margin-left: 0;
        width: 125px;
    }
    .navbar {
        gap: 0;
        padding: 0 8px;
    }
    .navbar {
        white-space: collapse;
    }
}
@media screen and  (max-width: 670px) {
    .colored-square1 {
        height: 190px;
        left: 40px;
        bottom: 10px;
    }
    .little-text-square {
        margin-top:0;
        height: 35px;
    }
    .text-gray-square1 {
        font-size: 25px;
        top: 35px;
    }
    .text-blue-square1 {
        font-size: 25px;
        top: 35px;
    }
    .invisible-square {
        left: 30px;
    }
    .invisible-square1 {
        right: 15px;
    }
}
@media screen and  (max-width: 608px) {
    .item {
        display: none;
    }
    .big-text-square {
        font-size: 25px;
    }
    .colored-square1 {
        width: 214px;
        height: 150px;
    }
    .two-square {
        padding: 10px;
    }
    .colored-square2-1 {
        display: none;
    }
    .invisible-square {
        left: 15px;
    }
    .text-gray-square {
        left: 15px;
    }
    .text-gray-square1 {
        left: 0;
    }
    .text-blue-square {
        left: 15px;
    }
    .text-blue-square1 {
        left: 0;
    }
    .invisible-square1 {
        right: 10px;
    }
}

@media screen and  (max-width: 480px) {
    .header {
        height: 45px;
    }

    .item {
        display: none;
    }

    .colored-square1 {
        margin-top: -4px;
        padding-top: 5px;
        position: static;
        background: #4D7EF4;
        width: 100%;
    }

    .big-text-square {
        justify-content: center;
    }

    .little-text-square {
        text-align: center;
        margin: 0 auto;
    }

    .rounded-button {
        width: 214px;
        margin: 25px auto;
    }

    .divider {
        display: none;
    }

    .colored-square2-1 {
        display: none;
    }

    .two-square {
        padding: 0;
    }

    .colored-square2 {
        width: 357px;
    }
    .rounded-button1 {
        width: 350px;
    }
    .arrowbutton1 {
        left: 130px;
    }
    .text-right-bord {
        left: 12px;
    }
    .left-part {
        font-size: 15px;
    }
    .invisible-square {
        width: 126px;
    }
    .left-blue-part {
        font-size: 15px;
    }
    .text-up {
        font-size: 15px;
    }
    .product-square {
        width: 130px;
        height: 180px;
        top: 100px;
        left: 243px;
    }
    .product-item {
        top: 107px;
        left: 20px;
        width: 220px;
        height: 143px;
    }
    .texttop-productitem {
        font-size: 26px;
    }
    .textdown-productitem {
        font-size: 12px;
    }
    .progress-item.active {
        width: 5px;
        height: 16px;
    }
    .progress-item {
        width: 5px;
        height: 9px;
    }
    .arrow-button {
        width: 32px;
        height: 32px;
    }
    .scroll-item {
        bottom: 84px;
        left: 20px;
        width: 160px;
    }
    .big-gray-square {
        height: 380px;
        top: 235px;
    }
    .brand-block {
        width: 480px;
        top: 305px;
        height: 300px;
        left: 10px;
    }
    .brand-square {
        width: 102px;
        height: 80px;
    }
    .brand-square1 {
        width: 147px;
        height: 110px;
        bottom: 80px;
    }
    .brand3square {
        top: 175px;
    }
    .name-block {
        font-size: 25px;
    }
}


